<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>struts 学习</title>
</head>
<body>
<form action="params.action" method="post">
    年龄:<input type="text"  name = "yubanAge" value="2" />
    宠物年龄：<input type="text" name="dog.age" value="1" />
    宠物名：<input type="text" name="dog.name" value="默认名"/>
    <input type="submit" value="参数传递值测试" />
</form>
获取的pojo值：'$!age'  '$!dog.age'   '$!dog.name'

</body>
</html>
